body{
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: black;
    padding: 5px 12px;
    border-radius: 10px;
}

a:hover{
    color: white;
    background-color: black;
}

.header{
    background-color: white;
    overflow: hidden;
    padding: 20px 10px;
    float: none;
    align-items: flex-end;
}

.float-right{
    float: right;
}

.logo{
    transform: scale(0.5);
    overflow: hidden;
    padding: 80px 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.align-items-center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.margin-negative-top9{
    margin-top: -9rem;
}

@media only screen and (max-width: 587px) and (min-width: 567px) {
    .logo-size {
        transform: scale(0.45);
        padding: 40px 40px;
    }
}

@media only screen and (max-width: 566px) and (min-width: 514px) {
    .logo-size {
        transform: scale(0.4);
        padding: 10px 10px;
    }
}

@media only screen and (max-width: 514px) and (min-width: 480px) {
    .logo-size {
        transform: scale(0.3);
        padding: 0px 0px;
    }
}

@media only screen and (max-width: 480px) and (min-width: 56px) {
    .logo-size {
        transform: scale(0.2);
        padding: 0px 0px;
    }
}
